/*Rounded corners and square hover buttons*/
.cardContent-button, 
.cardContent-shadow, 
.itemDetailImage, 
.cardOverlayButton-hover, 
.cardOverlayContainer,
.cardImageContainer,
.cardPadder,
.listItemImage,
.listItemImageButton,
.listItemButton,
.headerButton,
.paper-icon-button-light,
.innerCardFooter,
.blurhash-canvas,
.actionSheetMenuItem:hover,
.dialog
{border-radius: 6px !important;}



/*Fonts */
@font-face{
  font-family:'Netflix Sans';
  font-weight:100;
  src:url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Th.woff2) format('woff2'),url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Th.woff) format('woff')
}
@font-face{
  font-family:'Netflix Sans';
  font-weight:300;
  src:url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Lt.woff2) format('woff2'),url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Lt.woff) format('woff')
}
@font-face{
  font-family:'Netflix Sans';
  font-weight:400;
  src:url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Rg.woff2) format('woff2'),url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Rg.woff) format('woff')
}
@font-face{
  font-family:'Netflix Sans';
  font-weight:700;
  src:url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Md.woff2) format('woff2'),url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Md.woff) format('woff')
}
@font-face{
  font-family:'Netflix Sans';
  font-weight:800;
  src:url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Bd.woff2) format('woff2'),url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Bd.woff) format('woff')
}
@font-face{
  font-family:'Netflix Sans';
  font-weight:900;
  src:url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Blk.woff2) format('woff2'),url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Blk.woff) format('woff')
}
body, h1, h2, h3, h4 {
  font-family: 'Netflix Sans' !important;
}


/*Subtitle Fonts (Netflix Sans Medium) thanks the u/Edgementality-https://bit.ly/33slrSa*/


/*Firefox*/
.videoSubtitles{
    font-family: 'Netflix Sans', sans-serif !important;
    font-weight: 700 !important;
    text-shadow: 0px 0px 8px rgba(0, 0, 0, 1) !important;  
}


/*Chrome, Edge Chromium & Saffari*/
video::-webkit-media-text-track-display {
    font-family: "Netflix Sans", sans-serif !important;
    font-weight: 700 !important;
    text-shadow: rgba(0, 0, 0, 1) 0em 0em .2em !important;
}


/*backup for subtitles*/
video::-webkit-media-text-track-container {
    font-family: "Netflix Sans", sans-serif !important;
    font-weight: 700 !important;
    text-shadow: rgba(0, 0, 0, 1) 0em 0em .2em!important;
}
video:cue {
    font-family: "Netflix Sans", sans-serif !important;
    font-weight: 700 !important;
    text-shadow: rgba(0, 0, 0, 1) 0em 0em .2em !important;
}


/*Size episode preview images in a more compact way*/
.listItemImageButton-icon {padding: 0;}
.listItemImage.listItemImage-large.itemAction.lazy {height: 110px;}
.listItem-content {height: 115px;}
.secondary.listItem-overview.listItemBodyText {height: 61px; margin: 0;}
.listItemImageButton {margin: auto; font-size: 1.6em !important;}


/*Banner transparency and larger font, adjust both "size-adjust" and "size" to modify font size*/
.skinHeader.focuscontainer-x.skinHeader-withBackground.skinHeader-blurred {background:none; background-color:rgba(0, 0, 0, 0);}
.skinHeader.focuscontainer-x.skinHeader-withBackground.skinHeader-blurred.noHomeButtonHeader {background:none; background-color: rgba(0, 0, 0, 0);}
.headerTabs.sectionTabs {text-size-adjust: 110%;  font-size: 110%;}
.pageTitle {margin-top: auto; margin-bottom: auto;}
.emby-tab-button {padding: 1.75em 1.7em;}


/*Narrow the login form, size according to display size (bigger on mobile)*/
#loginPage .readOnlyContent, #loginPage form {max-width: 22em;}


/*Hide "please login" text, margin is to prevent login form moving too far up*/
#loginPage h1 {display: none}
#loginPage .padded-left.padded-right.padded-bottom-page {margin-top: 50px}


/*Hide "manual" and "forgot" buttons*/
#loginPage .raised.cancel.block.btnManual.emby-button {display: none}
#loginPage .raised.cancel.block.btnForgotPassword.emby-button {display: none}


/* My Media Styling */
.section0 button.itemAction.textActionButton {
    height: 3.5em;
    background: rgba(0, 0, 0, 0);
    border-radius:  var(--rounding);
}
.section0 .overflowBackdropCard,
    .section0 .overflowSmallBackdropCard {
        max-width: 90vw;
    }
.section0 .emby-scroller {
    margin-right: 0;
  }
  .section0 .itemsContainer {
    flex-wrap: wrap;
  }

@media (max-width: 1px) and (orientation: landscape){
.section0 {
    display: none;
  } 
}
.section0 .sectionTitle {
    padding-top: 60px !important;
}

@media (max-width: 1px){
.section0 {
    display: none;
  }
}
.section0 .sectionTitle {
    padding-top: 60px !important;
}
.raised.homeLibraryButton:hover {
  transition: filter 1s;
}
.raised.homeLibraryButton {
  transition: filter 1s;
}
.homeLibraryButton {
    min-width: 12em;
    margin: 0.4em;
}


/*Theming Title Page*/
div#itemBackdrop {
    height: 70% !Important;
    z-index: -1;
}
.layout-desktop .detailRibbon, .layout-tv .detailRibbon {
    height: 14.2em;
    margin-top: -11%;
}
.detailPageSecondaryContainer {
    margin: 0em;
    background: black;
}
.detailRibbon {
    background: linear-gradient(to top, black, transparent);
}
.layout-desktop .itemBackdrop:after, .layout-tv .itemBackdrop:after {
    background: rgba(0,0,0,0.1) !important;
}
.itemName {
    font-size: 3em !important;
}
